#back-btn-container {
	position: sticky;
	top:10px;
	width: 70px;
	font-family: 'Amatic SC', san-serif;
	font-weight: bold;
}

#back-btn-container a {
	position: relative;
	left:15px;
	font-size: 2.2em;
	text-decoration: none;
	color: #bbb;
	cursor: pointer;
	z-index: 10;
}

#back-btn-container span {
	position: relative;
	left: 10px;
	font-size:1.7em;
	color: #999;
	opacity: 0;
	transition: 0.5s;
	transition-timing-function: ease-in;
}

#back-btn-container:hover span{
	transition: 0.3s;
	transition-timing-function: ease-out;
	left: 20px;
	opacity: 1;
}