#img-container {
	position: sticky;
	left:0;
	top:0;
	height: 100vh;
	display: flex;
}

#img-container img {
	min-width: 95%;
	max-height: 100%;
}

@media screen and (max-width: 700px) {
	#img-container { display: none; }
}