body {
	padding:0;
	margin: 0;
	background-color: #eaeaea;
}

#content-container {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
}

#body-wrapper {
	flex-direction: column;
	flex-shrink: 33;
}

h3 {
	z-index: 0;
	text-align: center;
	font-family: 'Manjari', serif;
	opacity: 0.2;
	transition: 1s;
	cursor: default;
}

h3:hover {
	transition: 0.5s;
	opacity: 0.7;
}

h2 {
	text-align: center;
	font-family: 'Manjari', serif;
	padding-top: 15px; 
}

.card-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	position: relative;
	height: 375px;
	width: 300px;
	margin: 25px;
	margin-bottom: 50px;
	border: 1px solid #999;
	border-radius:5px;
	font-family: 'manjari', serif;
	background-color: white;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
	box-sizing: border-box;

}

.card:hover {
	z-index: 10;
}

.card-image {
	width:100%;
	height: 150px;
	padding-top: 10px;
	border-radius: 5px;
	object-fit: contain;
	transition: 0.5s;
}

.card-image:hover {
	transform: scale(2.2,2.2);
}

.card-image-long {
	width:100%;
	height: 150px;
	padding-top: 10px;
	border-radius: 5px;
	object-fit: contain;
	transition: 0.5s;
}

.card-image-long:hover {
	transform: scale(2.75,2.75);
}

.card-body {
	margin: 0px 5px 0px 7px;
}

.card a {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 60%;
	padding: 7px;
	box-sizing: border-box;
	background-color: #5033dc;
	color: white;
	text-decoration: none;
	cursor:pointer;
}

.card a:active {
	background-color: #2d1f73;
}

.more-to-come {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: url("portfolio-images/wrench-hammer.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 20%;
	padding:30px;
	opacity: 0.5;
	font-size: 1.2em;
	z-index: -1;
}

hr {
	margin: 0px 7px 0px 7px;
}