body {
	margin: 0;
	padding: 0;
	font-family: 'amatic sc', san-serif;
	font-weight: bold;
}

#img-wrapper{
	text-align:center;
}

#img-box {
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	background-color: white;
}

img {
	max-width: 100%;
	max-height: 95vh;
	margin-top:2.5vh;

	transition: 1.5s;
}

.gray {
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

img:hover {
	transition: 0.5s;
	filter:none;
	filter:grayscale(0); -webkit-filter:grayscale(0);
}